form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}
body{
  background-color: #282c34;
}
.contact-container {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin: 5px 0;
  background: black;
  box-shadow: 0px 2px 6px 2px #0002;

  &:first-of-type {
    margin-top: 0;
  }

  .container-fluid > .contact-container {
    background-color: #000;
  }
}

.newsScroll{
  height: 500px;
  overflow-y: scroll;
  border-radius: 4px;
  margin-bottom: 10px;
}

.newsItem {
  height: 100%;
  border-radius: 4px;

  .newsTitle {
    font-size: 100%;
    font-weight: 600;
    overflow: hidden;
  }


  .newsTitle:hover {
    color: #00d40e;
  }

  a {
    color: #3a9107;
  }

  .newsDate {
    font-size: 80%;
  }

  .newsSource {
    font-size: 85%;

  }

  span {
    color: #00d40e;
    display: block;
  }
}

.newsDescription {
  font-size: 90%;
  overflow: hidden;
}

.newFeed{
  margin-bottom: 10px;
}
.button{
  padding: 1em;
  float: left;
  margin-left: 2.8em;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
  color: #3a9107;
}
h6 {
  color: #00d40e;
  text-align: center;
}




